* {
    margin: 0;
    padding: 0;
}

/* General Styles for Navbar */
.navbar {
    background-color: #333;
    position: relative;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.nav-item a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Logo */
.logo img {
    height: 40px;
}

/* User Icon */
#userIcon {
    height: 30px;
    cursor: pointer;
    
}

/* User Dropdown */
#userDropdown {
    display: none;
    position: absolute;
    top: 40px; /* Adjust based on icon size */
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    z-index: 1100;
    color: black;
    text-transform: capitalize;
}

#userDropdown p {
    margin: 0 0 10px;
    font-weight: bold;
    color: #777;
    font-size: 18px;
}

#userDropdown button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: none;
    background-color: maroon;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#userDropdown button:hover {
    background-color: #111;
    color: white;
}

#userContainer:hover #userDropdown {
    display: block;
}




.container-head {
    width: 100%;
    margin: 0 auto;
    background-color: maroon;
    border-top:3px solid white;
    border-bottom:3px solid white;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.con-img img {
    height: 300px;
}

.container-head h1 {
    color: white;
    font-size: 40px;
}

.container-head p {
    color: white;
    font-size: 20px;
}
.con-description{
    margin-left: 150px;
}




.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/bg1.png");
    

}

.con-file {
    background-color: white;
    border: 5px solid #999;
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 110px;
    margin: 0 auto;
    filter: drop-shadow(10px 10px 2px #999);
   
}






#uploadForm {
    padding: 20px;

}

#fileName {
    width: 30%;
    background-color: maroon;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #999;
}




h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

input[type="file"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    background-color: maroon;
    color: white;
    border: none;
    height: 2.5pc;
    width: 10pc;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
  
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}



#result {
    margin: 0 auto;
    margin-top: 20px;
}

#result button {
    margin-top: 50px;
}

#downloadLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: maroon;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#downloadLink:hover {
    background-color: #999;
    color: white;

}


#voices {
    width: 70%;
    height: 2pc;
    border-radius: 20px;
    text-align: center;
    background-color: maroon;
    color: white;
    font-weight: 600;
    padding: 2px;
    border: none;
}


label {
    text-transform: uppercase;
    color: black;
}

.file-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-box.highlight {
    background-color: #f0f8ff;
    border-color: #007bff;
}

#dragMessage {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}








/* Mobile View */
@media (max-width: 768px) {

    .logo {
        height: 30px;
        margin: 10px auto;

    }

    .navbar{
        width: 100%;
    }
    .navbar-list {
        flex-direction: column;
        align-items: flex-start;
    
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-item a {
        padding: 10px 20px;
        font-size: 16px;
    }

    .hamburger-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        height: 30px;
    }


    #userDropdown {
        width: 200px; 
        margin-right: 20px;
        right: 0;
        top: 45px; 
    }


    .navbar-list.mobile-nav {
        display: none;
    }

    .navbar-list.mobile-nav.open {
        display: block;
    }

    #userIcon {
        height: 100px;
        display: block;
        position: absolute;
        top: 15px;
        right: 0px;
        margin:30px;
       
    }

    .con-img {
        display: none;
    }
    


    .container-head {
        width: 100%;
        margin: 0 auto;
   
    }


    .con-description {

        margin: 50px ;
        width: 100%;
        
    }

    .con-description p {
        width: 100%;
        text-align: justify;
        margin: 0;
    }

    .container {
        height: 80vh;
        margin: 0 auto;
    }



    .con-file {
        background-color: white;
        border: 5px solid #999;
        width: 40%;
        border-radius: 10px;
    
        margin: 50px;
        margin-bottom: 50px;
       
    }


    #voices {
        width: 100%;
    }


    
    button {
        margin: 10px;
        margin-left: -15px;
    }

    #fileName {
        width: auto;
    }

    #result textarea, h2, #stopBtn, 
    #resumeBtn, #pauseBtn, #readAloudBtn{
        display: none;
    }
    
    
}

/* Small mobile screens */
@media (max-width: 480px) {


    .logo img{
        height: 30px;
        margin: 10px auto;

    }

    .nav-item a {
        font-size: 14px;
        padding: 10px 15px;
    }

    #userIcon {
        height: 100px;
        display: block;
        position: absolute;
        top: 15px;
        right: 0px;
        margin:30px;
    }

    .con-img {
        display: none;
    }

    .container-head {
        width: 100%;
        margin: 0 auto;
 
    }

    .con-description {

        margin: 50px;
        width: 100%;
        
    }

    .con-description p {
        width: 100%; /* Keep content within the container */
        text-align: justify;
        margin: 0;
  
    }

    #userDropdown {
        width: 200px; 
        margin-right: 20px;
        right: 0;
        top: 45px; 
    }

    .container {
        height: 80vh;
        margin: 0 auto;
    }


    .con-file {
        background-color: white;
        border: 5px solid #999;
        width: 40%;
        border-radius: 10px;
        height: auto;
        margin: 50px;
       
    }

    #voices {
        width: 100%;
    }


    
    button {
        margin: 10px;
        margin-left: -15px;
    }
    
    #result textarea, h2, #stopBtn, 
    #resumeBtn, #pauseBtn, #readAloudBtn{
        display: none;
    }
    
}
